<div class="note note-{{model.color}}"
    ng-style="{ left:model.left, top:model.top, 'z-index':model.zIndex, width:model.width, height:model.height }"
    ng-click="_onNoteClicked($event)">

    <div class="note-title" ng-mousedown="_onTitleMouseDown($event)">
        <editable ng-model="model.title" trigger="dblclick" 
            exit-on="escape"></editable>
    </div>
     
    <div class="note-body">
        <editable ng-model="model.body" trigger="click"
            exit-on="escape"></editable>
    </div>

    <div class="note-resize-grip"
        ng-mousedown="_onResizeGripMouseDown($event)"></div>
</div>
