<div class="note note-{{model.color}}"
    ng-style="{ left:model.left, top:model.top, 'z-index':model.zIndex, width:model.width, height:model.height }"
    ng-click="_onNoteClicked($event)">

    <div class="note-title"
        ng-mousedown="_onTitleMouseDown($event)"
        ng-dblclick="_onTitleDoubleClick($event)">
        
        <div contenteditable="{{isTitleEditable}}"
            ng-class="{ 'note-title-editable':isTitleEditable }"
            ng-mousedown="_onEditableTitleMouseDown($event)">
            {{model.title}}
        </div>
    </div>
     
    <div contenteditable="{{isBodyEditable}}" 
        class="note-body"
        ng-class="{ 'note-body-editable':isBodyEditable }">
        {{model.body}}
    </div>

    <div class="note-resize-grip"
        ng-mousedown="_onResizeGripMouseDown($event)"></div>
</div>
